[submodule "beatleader-server-private"]
	path = beatleader-server-private
	url = git@github.com:BeatLeader/beatleader-server-private.git
[submodule "bs-simulator"]
	path = bs-simulator
	url = git@github.com:DziugasRam/bs-simulator.git
[submodule "beatleader-server-models"]
	path = beatleader-server-models
	url = https://github.com/BeatLeader/beatleader-server-models.git
