[submodule "beatleader-server-private"]
	path = beatleader-server-private
	url = git@github.com:BeatLeader/beatleader-server-private.git
[submodule "ReplayDecoder"]
	path = ReplayDecoder
	url = https://github.com/BeatLeader/ReplayDecoder.git
[submodule "bs-simulator"]
	path = bs-simulator
	url = git@github.com:DziugasRam/bs-simulator.git
